@using DataLayer.Models

@model List<TopicDO>

@{
    ViewBag.Title = "Home Page";
}

<html>
<head>
    <style>
        head {
            text-align: center
        }

        body {
            text-align: center
        }
 
        body {
            background-image: url(http://ak6.picdn.net/shutterstock/videos/24364166/thumb/10.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
            <h1 color="red">Explosives</h1>
</head>
<body>

</body>
</html>